.heading {
    font-family: fantasy;
    font-size: 38px;
    background-color: maroon;
    padding: 0 16px;
}
.container {
    margin-top: 50px;
}
.form-shadow {
    ::ng-deep .mat-form-field-flex {        
    box-shadow: 5px 5px 20px grey;
    }
}

.button-margin {
    margin-left: 30px;
    margin-bottom: 20px;    
    border-radius: 20px;
    color: white;
    box-shadow: 5px 5px 20px grey;
}

.sub-heading {
    padding-bottom: 20px;
    font-family: Tahoma, sans-serif;
    font-size: 28px;
    color: maroon;
}

.label {
    margin-right: 4px;
    font-family: monospace;
    font-size: 16px;
}
span {
    font-family: monospace;
    font-size: 18px;
    font-weight: 700;
}
mat-card {
    background: ghostwhite;
}